<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- rtl support this for textStart orientation to work, strange -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden"> <!-- hide keyboard on start -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- settings activity -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.siggel.coordinatejoker.MainActivity" />
        </activity>
        <!-- about activity -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- terms of service activity -->
        <activity
            android:name=".TermsOfServiceActivity"
            android:label="@string/title_activity_terms_of_service"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>
        <!-- privacy policy activity -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>
        <!-- acknowledgements activity -->
        <activity
            android:name=".AcknowledgementsActivity"
            android:label="@string/title_activity_acknowledgements"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>
        <!-- open source license activities -->
        <activity
            android:name=".OpenSourceLicensesActivity"
            android:label="@string/title_activity_open_source_licenses"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>
        <!-- help activity -->
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- checkbox explanation activity -->
        <activity
            android:name=".CheckboxExplanationActivity"
            android:exported="true"
            android:label="@string/title_activity_checkbox_explanation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="coordinatejoker_checkbox_explanation" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- intro activity -->
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- change history activity -->
        <activity
            android:name=".ChangeHistoryActivity"
            android:label="@string/title_activity_change_history"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- import activity -->
        <activity
            android:name=".ImportActivity"
            android:exported="true"
            android:label="@string/title_activity_import"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="coordinatejoker_import" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- fileprovider for sharing files via intent without special filesystem rights -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>